body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to bottom right, #c1b9df, #acd2d3);
}

.stopwatch{
    font-size:60px;
}

.button{
    border-radius: 4px;
    text-align: center;
    width:100px;
    overflow:hidden;
    font-size:20px;
    font-weight: bold;
    margin:10px;
    padding:25px;
    border: 1px solid #747474;
    box-shadow: 3px 3px 3px #747474;
}

.buttons{
    margin-top:50px;
    display: flex;
}


#start{
    background-color: #8bffae;
}

#pause{
    background-color: #f1ff8b;
}

#reset{
    background-color: #ff8b8b;
}

#start:hover{
    background-color: #a2deb4;
}

#pause:hover{
    background-color: #d7e096;
}

#reset:hover{
    background-color: #da7676;
}

#start:active{
    background-color: #abcdff;
}

#pause:active{
    background-color: #abcdff;
}

#reset:active{
    background-color: #abcdff;
}

#title{
    font-size:50px;
    top:0;
    margin-bottom: 30px;
}

@media (min-width: 600px){
    .stopwatch{
        font-size:80px;
    }

    .button{
        border-radius: 4px;
        text-align: center;
        width:150px;
        overflow:hidden;
        font-size:30px;
        margin:10px;
        padding:25px;
        border: 1px solid #747474;
        box-shadow: 3px 3px 3px #747474;
    }
}